#slideshow {
  background-color: #D5DEDF;
  box-shadow:   inset 0px 11px 8px -14px black,
                inset 0px -11px 8px -14px black;
}

#nyhed {
  background-color: #C0BFBF;
  box-shadow:   inset 0px 11px 8px -14px black,
                inset 0px -11px 8px -14px black;
  padding-bottom: 30px; /* Tilføj passende padding til toppen og bunden */
}


#brand {
  background-color: #FFFFFF;
  padding: 0 25px; /* Tilføj 10px padding på venstre og højre side */
  width: 100%; /* Sørg for, at #brand-sektionen fylder 100% bredde */
  box-sizing: border-box; /* Inkluder padding i den samlede bredde */
}


#brand h3 {
  margin-left: 0;
  margin-right: 0;
}

#neyefond {
  background-color: #835582;
  box-shadow:   inset 0px 11px 8px -14px black,
                inset 0px -11px 8px -14px black;
  padding-bottom: 10px;
  padding-top: 40px;
  position: relative;
}

#overskud {
  background-color: white;
  margin-top: 20px;
  height: 150px;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-button {
  position: absolute;
  bottom: 40px;
  left: 12vw;
  padding: 5px 10px 5px 10px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-size: 2vw;
}


h3 {
  position: relative;
  padding-right: 20px;
  margin-left:25px;
}

[data-text]::after {
  content: attr(data-text);
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "brødtekst-skrifttype", sans-serif;
}

h3.title:not([data-text])::after {
  content: "";
}

h3.title {
  font-size: 15px;
  margin-bottom: 10px;
}



.title {
  margin-right: 25px;
  position: relative;
  margin-bottom: 0;
  margin-top: 15px;
}

.data-text {
  font-size: 8px;
  font-family: "brødtekst-skrifttype", sans-serif;
  position: absolute;
  right: 0;
}


#brand img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#nyhed img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

#neyefond img {
  max-width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 30px;
}

.slideshow-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.slides {
  position: relative;
  width: 100%;
  height: 80vw;
  overflow:hidden;
}

.slides img {
  width: 80vw;
  height: 80vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slide-indicator {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.slide-indicator.active {
  background-color: #A2BDBD;
}

.favoritter-container {
  overflow-x: scroll;
}

.favoritter-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.favorit-item {
  margin: 10px 0 10px 15px; /* Tilføj ønsket mellemrum mellem varerne */

}

.favorit-item img {
  width: 160px; /* Juster bredden efter dine behov */

}


@media (max-width: 600px) {
  #nyhed img {
    margin-left: 0;
    margin-right: 0;
  }

  #brand img {
    margin-left: 10;
    margin-right: 10;
  }

}

@media (min-width: 601px) {

.slides {
  position: relative;
  width: 100%;
  height: 40vw;
  overflow:hidden;
}

.slides img {
  width: 40vw;
  height: 40vw;
}

}
